.introduction {
    padding: 60px 20px;
    width: 100%;
    background-color: #f9f9f9;
  }
  
  
  .intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; 
  }
  
  
  .intro-image img {
    width: 100%;
    max-width: 500px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  }

  .emax-Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .intro-text {
    max-width: 600px;
  }
  
  .intro-text h2 {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: #333;
    border-left: 5px solid #0078ff;
    padding-left: 10px;
  }
  
  .intro-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
  }
  
  
  .services {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 60px;
    max-width: 1200px;
    margin: 60px auto;
  }
  
  .service-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  
  .service-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); 
  }
  
  .service-item img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 3px solid #0078ff;
  }
  
  .service-item h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #0078ff;
  }
  
  .service-item p {
    font-size: 1rem;
    color: #666;
  }
  
  @media screen and (max-width: 768px) {
    .intro-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .intro-image img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .services {
      flex-direction: column;
      gap: 20px;
    }
  
    .service-item {
      margin-bottom: 20px;
    }
  }